replicaCount: 1

image:
  repository: ghcr.io/jaroslawparadysz/simpleapp
  tag: main-2d77828
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

namespace: simplens
namespaceCreate: true

service:
  type: NodePort
  port: 8080
  targetPort: 8080
  nodePort: 31012
  protocol: TCP

env:
  aspnetcoreEnvironment: Production

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "500m"

livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5
